/* INIZIO RESET */
*{
  font-family: Montserrat;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* INIZIO STILI PRINCIPALI */
body {
  color: #32495b;
}
header nav {
  float:left;
}

a {
  text-decoration: none;
  color: inherit;
}
ul{
  padding: 0;
}

li {
  list-style: none;
  display: inline;
  font-size: 10px;
  font-weight: 600;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.button {
  padding: 0.5em;
  border-radius: 3px;
  color: white;
  background: #fe775a;
}
/* FINE STILI PRINCIPALI */

/* Inizio Stili Generici */

/* Inizio Stili Search Nav */
header nav.search  {
  height: 55px;
  line-height: 55px;
  width: 100%;
  background: #f4f9fd;
  border-bottom: 2px solid #bec6cb;
}

header nav.search .contact {
  float:left;
  text-align: left;
  width: 35%;
  margin-left: 15%;

}


header nav.search .contact li {
  margin-right: 2%;
}

header nav.search .signin {
  float:left;
  width: 35%;
  margin-right: 15%;
  text-align: right;
}


header nav.search .signin li {
  margin-left: 2%;
}

header nav.search .signin .fa-search{
  color: #01a5bd;
}

header nav.search .signin .login {
  background: #fafcfe;
  color:#fd8a72;
  border: 1px solid #fd8a72;
}

/* Fine Stili Search Nav */

/* Inizio Stili Options */
header nav.menu {
  height: 55px;
  line-height: 63px;
  width: 100%;
  background: white;
}

header .menu .logo {
  float: left;
  margin-left: 15%;
  width: 35%;
  height: 55px;
}

header .menu .logo img {
  line-height: 55px;
  width: 75px;
}

header .menu .options {
  float: left;
  text-align: right;
  width: 35%;
  margin-right: 15%;
  line-height: 55px;
}

header .menu .options li {
  margin-left: 2%;
}

/* Fine Stili Options */

/* Inizio Stili Trailer */
header .trailer {
  display: block;
  height: 500px;
  width: 100%;
  padding: 0 15%;
  background: url(../img/jumbotron.png);
  background-size: 100% 575px;
}
header .trailer .presentation {
  width:50%;
}
header .trailer .presentation li {
  display: block;
  margin: 8% 0;
}
header .trailer .presentation .button {
  padding: 1.5em;
}
header .green {
  height: 55px;
  width: 100%;
  background: #afebe4;
  border-top: 2px solid black;
  border-bottom: 2px solid #33475b;
}

/* Fine Stili Trailer */

/* Fine Stili Generici */
