/* INIZIO RESET */
*{
  font-family: Montserrat;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* INIZIO STILI PRINCIPALI */
body {
  color: #32495b;
}

a {
  text-decoration: none;
  color: inherit;
}
ul{
  padding: 0;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 15px;
}

p {
  font-size: 10px;
}

hr {
  color: #32495b;
  border: 1px solid #32495b;
  width: 40%;
  text-align: center;
}

li {
  list-style: none;
  display: inline;
  font-size: 10px;
  font-weight: 600;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.button {
  padding: 0.5em;
  border-radius: 3px;
  font-size: 10px;
  color: white;
  background: #fe775a;
}

.fas {
  font-size: 10px;
}

.fa-check-circle{
  color:#fe775a;
}

.premise img {
  width: 20%;
}

.premise  {
  text-align: center;
  height: 22%;
  padding: 5%;
}

.premise p {
  margin-top: 3%;
  padding: 0 7%
}

/* FINE STILI PRINCIPALI */

/* Inizio Stili Generici */

/* Inizio Stili Header */

/* Inizio Stili Search Nav */
header nav.search  {
  height: 55px;
  line-height: 55px;
  width: 100%;
  background: #f4f9fd;
  border-bottom: 2px solid #bec6cb;
}

header nav.search .contact {
  float:left;
  text-align: left;
  width: 35%;
  margin-left: 15%;

}


header nav.search .contact li {
  margin-right: 2%;
}

header nav.search .signin {
  float:left;
  width: 35%;
  margin-right: 15%;
  text-align: right;
}


header nav.search .signin li {
  margin-left: 2%;
}

header nav.search .signin .fa-search{
  color: #01a5bd;
}

header nav.search .signin .login {
  background: #fafcfe;
  color:#fd8a72;
  border: 1px solid #fd8a72;
}

/* Fine Stili Search Nav */

/* Inizio Stili Options */
header nav.menu {
  height: 55px;
  line-height: 63px;
  width: 100%;
  background: white;
}

header .menu .logo {
  float: left;
  margin-left: 15%;
  width: 35%;
  height: 55px;
}

header .menu .logo img {
  line-height: 55px;
  width: 75px;
}

header .menu .options {
  float: left;
  text-align: right;
  width: 35%;
  margin-right: 15%;
  line-height: 55px;
}

header .menu .options li {
  margin-left: 2%;
}

/* Fine Stili Options */

/* Inizio Stili Trailer */
header .trailer {
  display: block;
  height: 500px;
  width: 100%;
  padding: 0 15%;
  background: url(../img/jumbotron.png);
  background-size: 100% 575px;
}
header .trailer .presentation {
  padding-top: 5%;
  width:50%;
}
header .trailer .presentation li {
  display: block;
  margin: 8% 0;
}
header .trailer .presentation .button {
  padding: 1.5em;
}
header .green {
  height: 55px;
  width: 100%;
  background: #afebe4;
  border-top: 2px solid black;
  border-bottom: 2px solid #33475b;
}
/* Fine Stili Trailer */

/* Fine Stili Header */

/* Inizio Stili Main */

/* Inizio Stili Services */

main #services {
  background: #f4f9fd;
  padding: 0 15%;
}

main #services .service {
  background: white;
  border:1px solid #e7ecf2;
  border-radius: 5px;
}

main #services .horizontal .service {
  padding: 5%;
  margin-bottom: 5%;
}

main #services .horizontal .service .illustration {
  float: left;
  text-align: top;
  margin-right: 5%;
}

main #services .horizontal .service img {
  height: 100px;
  margin-bottom: 15%;
}
main #services .horizontal .service .button {
  padding: 15px;
  text-align: center;
  margin: 0 15%;
}

main #services .horizontal .service .description .one {
  float: left;
}

main #services .horizontal .service .description h3 {
  margin-bottom: 4%;
}

main #services .horizontal .service .description p, h4 {
  margin-bottom: 2.5%;
  margin-right: 10%;
}

main #services .horizontal .service .description hr {
  float: right;
  margin-top: 10px;
}

main #services .horizontal .service .description li span {
  padding: 0 1.5%;
}

main #services .vertical .service {
  float: left;
  width: 30%;
  height: 600px;
  text-align: center;
  padding: 2%;
  margin-bottom: 5%
}

main #services .vertical .service img {
  height: 100px;
  margin-bottom: 3%;
}

main #services .vertical .service h3 {
  margin: 10% 0;
}

main #services .vertical .service hr {
  width: 96%;
  margin-top: 20%;
}

main #services .vertical .service h4 {
  margin: 15% 0;
}

main #services .vertical .service li {
  display:block;
  text-align: left;
}

main #services .vertical .service .button {
  margin: 0 25%;
  margin-top: 10%;
  padding: 15px;
  text-align: center;
}

main #services .vertical .three {
  margin: 0 5%;
}

/* Fine Stili Services */

/* Inizio Stili Awards */

main #awards {
  color: white;
  background: #00adb4;
  padding: 0 15%;
}

main #awards .mile {
  float:left;
  width: 25%;
  height: 200px;
  text-align: center;
  border: 1px solid white;
  border-top: 0px;
}
main #awards .mile img{
  margin: 10% 0;
}

main #awards .mile h2 {
  margin: 2% 0;
}

main #awards .miles .one, main #awards .miles .five {
  border-left: 0;
}

main #awards .miles .four, main #awards .miles .eight {
  border-right: 0;
}

main #awards .miles .five, main #awards .miles .six, main #awards .miles .seven, main #awards .miles .eight {
  margin-bottom: 8%;
  border-bottom: 0;
}
/* Fine Stili Awards */

/* Fine Stili Main */

/* Fine Stili Generici */
